#content {
    max-width: 1100px;
    min-width: 800px;
    margin: 0 auto;
}

#top_panel {

}

#left_col, #right_col {
    display: inline-block;
    vertical-align: top;
    max-width: 535px;
    min-width: 385px;
}

#left_col {
    margin-right: 30px;
}

.score_panel, .capital_panel {
    display: inline-block;
}

.score_panel {
    margin-right: 100px;
}

.score {
    color: orange;
}

.capital {
    color: limegreen;
}

.quote_name, .quote_number {
    font-weight: bold;
}

.quote_number {
    color: darkgray;
}

.first-hero {
    color: white;
    height: 200px;
    /* http://www.flickr.com/photos/19942094@N00/4439135157/sizes/l/ */
    background-image: url(/assets/images/4439135157_7ebbc4f81d_b.jpg);
}

.second-hero {
    /* http://www.flickr.com/photos/papalars/2451592976/sizes/l/ */
    background-image: url(/assets/images/2451592976_66ac1b9586_b.jpg);
}

.second-hero .container {
    color: black;
    max-width: 100%;
    background-color: rgba(255,255,255,0.7);
}

.red-em {
    font-weight: bold;
    color: red;
}