@(company: String, values: List[(String, Double)])(implicit request : Request[Any])

@main("Yolo - History of " + company) {
<div>
The values from the last two weeks for @company are:<br \>

<canvas id="historyChart" width="400" height="250"></canvas>

<script>
var ctx = $("#historyChart").get(0).getContext("2d");
var dates = [ @for((date, _) <- values) { "@date", } ]
var prices = [ @for((_, price) <- values) { @price, } ]

var data = {
	labels : dates,
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : prices
		}
	]
}
var myNewChart = new Chart(ctx).Line(data);
</script>
<div>
}
