@(company: String, values: List[(String, Double)])(implicit request : Request[Any])

@main("Yolo - History of " + company) {
<div>
The values from the last two weeks for @company are:<br \>

(Here will be a chart containing all the values) <br \>

<canvas id="historyChart" width="400" height="400"></canvas>

<script>
var ctx = $("#historyChart").get(0).getContext("2d");
<!-- var label = [  @for((date, price) <- values) { -->
<!--                         <li>@date: @price</li> -->
<!--                         } -->

var data = {
	labels : ["January","February","March","April","May","June","July"],
	datasets : [
		{
			fillColor : "rgba(220,220,220,0.5)",
			strokeColor : "rgba(220,220,220,1)",
			pointColor : "rgba(220,220,220,1)",
			pointStrokeColor : "#fff",
			data : [65,59,90,81,56,55,40]
		}
	]
}
var myNewChart = new Chart(ctx).Line(data);
</script>

<ul>
  @for((date, price) <- values) {
                        <li>@date: @price</li>
                        }
</ul>
<div>
}
