@()(implicit request : Request[Any])


@main("Yolo - Home") {
<div id="main-yolo" class="container">
	



				@request.session.get(Security.username) match {
				case Some (u) =>{

				Hi @u !
				
				}
				case None => {
				<div class="hero-unit">
					<div class="container">
						<h1>Welcome on Yolo !</h1>
						<p>
							Because we only live once.
							The app which makes you play with your life.
						</p>
						<p><a href="@routes.Signup.setup"
									class="btn btn-primary btn-large">
								Sign up &raquo;</a></p>

					</div>
				</div>
				}
				}
	
	
</div>
}
