@(form: Form[(String, String)])(implicit request : Request[Any])

@main("Yolo - Sign in") {
<div id="login-yolo" class="container">
	
	@if(form.hasGlobalErrors) {
		@for(error <- form.errors) {
			@error_div(error.message)
	  } 
	}

	<form method="post" autocomplete="on">
    E-mail: <input type="email" name="email"><br>
    Password:<input type="password" name="password"><br>
    <input type="submit">
  </form>

	<p>You don't already have an account ?
		Then <a href="@routes.Signup.setup">
			sign up</a>

</div>
}
