@()(implicit request : Request[Any])


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="@routes.Application.index">Yolo</a>
      <div class="nav-collapse collapse">

				@request.session.get(Security.username) match {
				case Some (u) =>{
        <ul class="nav navbar-nav">
          <li><a href="@routes.FinanceAPI.multipleQuotes">Quote</a></li>
				</ul>

				<ul class="nav navbar-nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							 data-toggle="dropdown">
							@u <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="@routes.EditAccount.setup">Edit</a></li>
							<li><a href="@routes.Auth.logout">Logout</a></li>
						</ul>
					</li>
        </ul>
				}
				case None => {

				<ul class="nav navbar-nav pull-right">
					<button href="/signin" type="button"
									onclick="self.location.href='@routes.Auth.setup'"
									class="btn btn-default navbar-btn">Sign in
					</button>
				</ul>
				}
				}

				
      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

