@()(implicit request : Request[Any])


<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="@routes.Application.index">Yolo</a>
      <div class="nav-collapse collapse">

				@request.session.get(Security.username) match {
				case Some (u) =>{
        <ul class="nav navbar-nav">
          <li><a href="@routes.FinanceAPI.multipleQuotes">Quote</a></li>
				</ul>

				<ul class="nav navbar-nav pull-right">
					<li class="dropdown">
						<a href="#" class="dropdown-toggle"
							 data-toggle="dropdown">
							@u <b class="caret"></b></a>
						<ul class="dropdown-menu">
							<li><a href="@routes.AccountFinance.setup">My
							finances</a></li>
                                                        <li><a href="@routes.Friend.addFriend">Add friend</a></li>
							<li><a href="@routes.EditAccount.setup">Edit</a></li>
							<li><a href="@routes.Auth.logout">Logout</a></li>
						</ul>
					</li>
        </ul>
				}
				case None => {

				@helper.form(action = routes.Auth.login,
				             'class -> "navbar-form pull-right"  ) {
				<input class="span2" type="text" placeholder="Email" name="email" />
				<input class="span2" type="password" placeholder="Password"
							 name="password" />
				<input type="submit" class="btn"value="Sign in"/>
				}
				
				}
				}



      </div><!--/.nav-collapse -->

    </div>
  </div>
</div>

