@(quoteInfo : QuoteInfo, values: List[(String, Double)])(implicit request : Request[Any])

@main("Yolo - Quote prices for " + quoteInfo.name) {
<div class="container">
    <h2>@quoteInfo.name - @quoteInfo.bidRealtime
        <!-- Large button group -->
        @quoteInfo.bidRealtime match {
          case Some(price) => {
        <div class="btn-group">
          <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
            Buy <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            @for(value <- List(1, 2, 3, 10, 20)) {
                          <li><a href="@routes.Operation.opStock("buy",quoteInfo.name, value)">@value for @{"%1.2f" format (price * value)}</a></li>
                          }
          </ul>
        </div>
          }
          case None => { N/A }
        }
        @quoteInfo.askRealtime match {
        case Some(price) => {
        <div class="btn-group">
            <button class="btn btn-default btn-lg dropdown-toggle" type="button" data-toggle="dropdown">
                Sell <span class="caret"></span>
            </button>
            <ul class="dropdown-menu">
                @for(value <- List(1, 2, 3, 10, 20)) {
                <li><a href="@routes.Operation.opStock("sell",quoteInfo.name, value)">@value for @{"%1.2f" format (price * value)}</a></li>
                }
            </ul>
        </div>
        }
        case None => { N/A }
        }
    </h2>
    <p>
        <dl class="dl-horizontal">
            <dt>Change</dt><dd>@quoteInfo.changePercentage</dd>
            <dt>Day's high</dt><dd>@quoteInfo.daysHigh</dd>
            <dt>Day's low</dt><dd>@quoteInfo.daysLow</dd>
        </dl>
        @chart(values)

        Be aware that the price can change between now and the time you chose to
            buy.<br />

    </p>
</div>
}
