@(company: String, bid: String, ask: String, values: List[(String, Double)])(implicit request : Request[Any])

@main("Yolo - Quote prices for " + company) {
<div class="container">
  <p>Be aware that the price can change between now and the time you chose to
    buy.<br />

    The actual buying price for @company is @bid. 

    You can buy one by clicking
		<a href="@routes.Operation.opStock("buy",company,
																						1)">here</a>.
		<br />

    You can sell one for @ask <a href="/quote/sell/@company">here</a>. <br />
    <br />

		<a href="@routes.Operation.opStock("sell",company, 1)">here</a>.
		<br />

    <canvas id="historyChart" width="400" height="250"></canvas>

    <script>
      var ctx = $("#historyChart").get(0).getContext("2d");
      var dates = [ @for((date, _) <- values) { "@date", } ]
      var prices = [ @for((_, price) <- values) { @price, } ]
      
      var data = {
      	labels : dates,
      	datasets : [
      		{
      			fillColor : "rgba(220,220,220,0.5)",
      			strokeColor : "rgba(220,220,220,1)",
      			pointColor : "rgba(220,220,220,1)",
      			pointStrokeColor : "#fff",
      			data : prices
      		}
      	]
      }
      var myNewChart = new Chart(ctx).Line(data);
      </script>
      
  </p>
</div>
}
