@(quoteInfo : QuoteInfo, values: List[(String, Double)])(implicit request : Request[Any])

@main("Yolo - Quote prices for " + quoteInfo.name) {
<div class="container">
  <p>Be aware that the price can change between now and the time you chose to
    buy.<br />

    The actual buying price for @quoteInfo.name is @quoteInfo.bid.

    You can buy one by clicking <a href="/quote/buy/@quoteInfo.name">here</a>.<br />

    You can sell one for @quoteInfo.ask <a href="/quote/sell/@quoteInfo.name">here</a>. <br />
    <br />

    @chart(values)
      
  </p>
</div>
}
