@(rank: List[RankingInfo])(implicit request : Request[Any])

@header_main("Yolo Stocks Game - Ranking") {
<link href="@routes.Assets.at("stylesheets/home.css")"
      rel="stylesheet" />
} {
<div class="container">
  <h2>Friends ranking :</h2>
  <table class="table table-hover">
    <tr>
      <th>Pos.</th>
      <th>Username</th>
      <th>Capital</th>
      <th>Score</th>
    </tr>
    @for(r <- rank) {
      <tr>
        <td>@(rank.indexOf(r) + 1)</td>
        <td>@r.username</td>
        <td>@r.capital</td>
        <td>@r.score </td>
      </tr>
    }
  </ul>
</div>
}
