@(form: Form[(String, String, String, String)])(implicit request : Request[Any])

@main("Yolo - Sign up") {
<div id="signin-yolo" class="container">
	
	@if(form.hasGlobalErrors) {
		@for(error <- form.globalErrors) {
		   @error_div(error.message)
	  } 
	}

	<form method="post" autocomplete="on">
    E-mail: <input type="email" name="email"><br>
    Username: <input type="text" name="username"><br>
    Password:<input type="password" name="password"><br>
    Confirm: <input type="password" name="confirm" ><br>
    <input type="submit">
  </form>

</div>
}
