@(form: Form[(String, String, String, String)])(implicit request : Request[Any])

@main("Yolo - Sign in") {
<div id="signin-yolo" class="container">
	
	@if(form.hasGlobalErrors) {
  <ul style="color:red"l>
		@for(error <- form.globalErrors) {
			<li>@error.message</li>
	  } 
  </ul>
	}

	<form method="post" autocomplete="on">
    E-mail: <input type="email" name="email"><br>
    Username: <input type="text" name="username"><br>
    Password:<input type="password" name="password"><br>
    Confirm: <input type="password" name="confirm" ><br>
    <input type="submit">
  </form>

</div>
}
