@(user : User, messages : Iterable[Message], quotes_with_prices : Iterable[(String, Int, Option[(QuoteInfo, List[(String, Double)])])],
achievements : Iterable[Option[Achievement]])(implicit request : Request[Any])


@header_main("Yolo - Home") {
<link href="@routes.Assets.at("stylesheets/home.css")"
      rel="stylesheet" />
} {
@for(message <- messages) {
    <div class="alert alert-success alert-dismissable">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong>@message.subject</strong> @message.body
    </div>
}


<div id="top_panel" class="well" >
  <div class="score_panel">
    <h2>Score : <span class="score">@user.score</span> </h2>
  </div>
  <div class="capital_panel">
    <h2>Capital : <span class="capital">@{"%1.2f" format user.capital}</span> </h2>
  </div>
</div>



@if(quotes_with_prices.isEmpty){
<div id="left_col" class="well">
		<h2>My Stocks : </h2>
<p><a href="@routes.Application.rules"
      class="btn btn-primary btn-large">
    Read the rules before &raquo;</a> </p>
</div>
}

@if(!quotes_with_prices.isEmpty){
<div id="left_col">
<div class="well">
  <div>
		
		<h2>My Stocks : </h2>
		<table class="table table-hover">
			<tr>
				<th>Quant.</th>
				<th>Stock</th>
				<th>Value</th>
				<th>Change</th>
			</tr>
			@for((name, number, quoteInfo) <- quotes_with_prices if number > 0) {
				<tr>
					<td><span class="quote_number">@number</span></td>
					<td><span class="quote_name"><a href="quote/@name">@name</a></span></td>
					@quoteInfo match {
					case Some((quoteInfo, history)) => {
					@quoteInfo.bidRealtime match {
					case Some(price) => {
					<td> @{"%1.2f" format (price * number)} (@{"%1.2f" format price} unit.)</td>
					<td>@quoteInfo.changePercentage</td>
					}
					case None => { <td>Indispo</td> <td>Indispo</td> }
					}
					}
					case None => { <td>Indispo</td> <td>Indispo</td> }
					}
				</tr>
				}
		</table>
		<span>Total des valeurs disponibles :
			@defining(quotes_with_prices.foldLeft(0.0){
			case (acc, (_, quantity, Some((quoteInfo, history)))) => {
			quoteInfo.bidRealtime match {
			case Some(price) => acc + quantity * price
			case None => acc
			}
			}
			case (acc, (_, quantity, None)) => acc }
			){total =>
			<span class="total">@{"%1.2f" format total}</span>
			(avec capital : <span class="totalcapital">@{"%1.2f" format total + user.capital}</span>)
			}
		</span>
  </div>
  <div>
    <h2>My Transactions</h2>
    <table class="table table-hover table-striped">
			<tr>
				<th>Operation</th>
				<th>Stock</th>
				<th>Quant.</th>
				<th>Value</th>
				<th>price unit.</th>
				<th>Capital</th>
			</tr>
      @for(transaction <- user.transactions.reverse) {
													<tr>
														@transaction.action match {
														case BuyAction => { <td class="buy">Achat</td> }
        case SellAction => { <td class="sell">Vente</td> }
        case _ => { <td class="sell">@transaction.action</td> }
        }
				<td><a href="quote/@transaction.quote">@transaction.quote</td>
        <td>@transaction.number</td>
        <td>@{"%1.2f" format (transaction.number * transaction.price)}</td>
				<td>@{"%1.2f" format transaction.price}</td>
				<td>@{"%1.2f" format transaction.capital}</td>
      </tr>
}
</table>
</div>
<div>


	
</div>
}
</div>


  @if(!achievements.isEmpty){
<div class="well">
<div>
  <div>
    <h2>My Achievements</h2>
		<table class="table">
    @for(ach <- achievements) {
								@ach match {
								case Some(ach) => {
			<tr class="success"><td>
					<span class="green-em">@ach.name</span>
				</td><td>@ach.desc</td></tr>
				}
      case None => {}
          }
      }
			</table>
    </div>
  </div>
    }

	</div>

<div class="well">
	<div>
		<h2>My Friends</h2>
	</div>
	<div>
		<div>
			@if(user.friends.isEmpty){

			<p><a href="@routes.Friend.addFriend"
						class="btn btn-primary btn-large">
					Add friends &raquo;</a></p>
			} else {

			<div class="list-group">
				@for(f <- user.friends){
									<a class="list-group-item" href="@routes.Friend.profile(f)"> @f </a>
									}
			</div>

			}
		</div>
	</div>
</div>



</div>



<div id="right_col">

@if(!quotes_with_prices.isEmpty){
  <div>
    <h2>My Graphs</h2>
    @for((name, number, quoteInfoHistory) <- quotes_with_prices if number > 0) {
      @quoteInfoHistory match {
      case Some((quoteInfo, history)) => { <h3>@quoteInfo.name - @quoteInfo.longName</h3>@chart(history) }
      case None => {}
      }
      }
  </div>
}
</div>










}
